<style>

body {
    font-family: monospace, Times, serif;
    margin: 2em auto;
    max-width: 800px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td,th {
    padding: 6px;
    vertical-align: top;
    word-wrap: break-word
}

#t01 {
    width: 100%;
    background-color: #f6c177;
}
#t01 tr:nth-child(even) {
    background-color: #31748f;
}
#t01 tr:nth-child(odd) {
    background-color: #9ccfd8;
}
#t01 th {
    color: #e0def4;
    background-color: #26233a;
}
</style>
